<% include partials/header %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type = "text/javascript" src="/js/script.js"></script>
        
        <div class="container">

    <header class ="jumbotron">
        <div class="container">
           <h1>Welcome to YelpCamp!</h1> 
           <p>View our Hand=picked campgrounds from all over the world. </p>
           <p>
               <a href="/campgrounds/new" class="btn btn-lg btn-primary">Add new Campground</a>       
           </p>
       </div>
    </header>
    
     <div class="row text-center" style="display: flex; flex-wrap: wrap;">
         <% campgrounds.forEach(function(camp){%>
        <div class = "col-md-3 col-sm-6">
            <div class ="thumbnail">
                <img src="<%= camp.image%>">
                <div class="caption">
                    <h4> <%= camp.name %></h4>
                </div>
                <p>
                    <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary"> More Info</a>
                </p>
            </div>
        </div>
         <% }); %>
     </div>
    
</div>

<% include partials/footer %>