<% include partials/header %>
<div class="container">
    <div class="row">
        <h1>This is the form to add campground</h1>
            <div style="width: 30%; margin:30px auto;">
                <form action="/campgrounds" method="post">
                    <div class="form-group">
                         <input type ="text" placeholder="name" name ="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type ="text" placeholder="image URL" name="image" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type ="text" placeholder="Description" name="description" class="form-control">
                    </div>
                     <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Submit!!</button>
                    </div>
                </form>
                <a href="/campgrounds">Go back</a>
            </div>
    </div>
</div>
<% include partials/footer %>