<% include partials/header %>

<h1> This is the show templet</h1>

<p> <%=campground.name%></p>

<img src = "<%=campground.image%>">

<p> <%= campground.description %> </p>

<% campground.comments.forEach(function(comment){ %>

    <p> <strong> <%= comment.author %> </strong> - <%= comment.text %></p>

<% }) %>


<% include partials/footer %>